.base-background {
  width: 100%;
  height: 50%;
  opacity: 0.1;
}

.solid-cta-background {
  position: relative;
  top: -45%;
  left: 7.5%;
  background: var(--base-background);
  width: 85%;
  height: 50%;
  z-index: 1;
}
.cta-background {
  position: relative;
  top: 5%;
  left: -5%;
  width: 110%;
  height: 100%;
  background-image: url("../../Assets/mountain-landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.secondary-background {
  position: relative;
  top: 5%;
  left: -2.5%;
  width: 105%;
  z-index: 1;
}

.cta-filter {
  background: #5b5863b3;
  width: 100%;
  height: 100%;
}

.cta-content {
  color: white;
  padding: 5%;
}

.cta-button-container {
  position: absolute;
  width: 50%;
  top: 80%;
}

.explore-button {
  font-size: 0.7rem;
  padding: 2% 4%;
  border: none;
  border-radius: 1.5px;
  background: var(--yellow-background);
}
