.side-bar {
  width: 30%;
  min-width: 230px;
  max-width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.headshot {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 90%;
  display: flex;
  justify-content: center;
  background: var(--grey-background);
}

.headshot-rounded img {
  position: relative;
  top: 20px;
  width: 90px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}

.headshot-text {
  position: absolute;
  top: 50%;
  text-align: center;
}

.sidebar-title {
  color: rgb(223, 223, 223);
  font-weight: 500;
  margin-bottom: 5%;
}
.sidebar-text {
  color: rgb(138, 138, 138);
  font-size: 0.9rem;
  font-weight: 200;
}
