.side-bar {
  width: 30%;
  min-width: 230px;
  max-width: 280px;
  height: 100vh;
  background: var(--accent-dark-blue-background);
}

.headshot {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 90%;
  display: flex;
  justify-content: center;
  background: var(--grey-background);
}

.headshot-rounded img {
  position: relative;
  top: 20px;
  width: 90px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}

.headshot-text {
  position: absolute;
  top: 50%;
  text-align: center;
}

.sidebar-title {
  color: var(--white-text);
  font-weight: 500;
  margin-bottom: 5%;
}
.sidebar-text {
  color: var(--grey-text);
  font-size: 0.9rem;
  font-weight: 200;
}

.location {
  padding: 5%;
  width: 100%;
  height: 100px;
}
.country,
.city,
.age {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
}
.underline {
  margin: 5% 5%;
  border-bottom: 1px solid var(--grey-text);
}

.location-key {
  color: var(--white-text);
}
.location-value {
  color: var(--grey-text);
}
