@media (max-width: 776px) {
  .landing-page {
    display: flex;
    flex-direction: column;
  }
  .landing-about {
    width: 100%;
  }
  .landing-card {
    width: 100%;
    padding: 2%;
    border: 1px solid#241d3e;
  }
}
