.blue-background {
  background: #191624;
}

.blue-background-fade-light {
  background: rgba(25, 22, 36, 0.5);
}
.blue-background-fade {
  background: rgba(25, 22, 36, 0.75);
}
/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
