.red-text {
  color: #d0194a;
}
.white-text {
  color: #efeff0;
}
.white-background {
  background: #efeff0;
}
.yellow-text {
  color: #f1b546;
}
.blue-text {
  color: #241d3e;
}
.blue-background {
  background: #241d3e;
}
