:root {
  --grey-background: rgba(255, 255, 255, 0.036);
  --accent-dark-blue-background: rgb(25, 25, 38);
  --grey-text: rgb(138, 138, 138);
  --white-text: rgb(223, 223, 223);
  --base-background: #191624;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #efeff0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
