.project {
  width: 350px;
  aspect-ratio: 1/1.3;
  background: var(--grey-background);
}

.project h1 {
  color: var(--white-text);
  padding: 0 5%;
}

.project p {
  color: var(--grey-text);
  padding: 0 5%;
}
.image-container {
  width: 90%;
  aspect-ratio: 1/0.8;
  padding-left: 10%;
  padding-top: 10%;
}
.project-image {
  width: 100%;
}
.external-link-container {
  margin: 10% 0;
  display: flex;
  justify-content: space-evenly;
}

.external-link-container a {
  border: 1px solid var(--yellow-background);
  padding: 1% 2%;
  text-decoration: none;
  color: var(--white-text);
}
