.projects {
  height: 100%;
  margin: 0 3%;
}

.section-header {
  color: var(--white-text);
  padding: 3% 0 0 0;
  display: flex;
  width: fit-content;
}
.underline-title {
  border-bottom: 1px solid var(--yellow-background);
  padding-bottom: 1.5%;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
