:root {
  --grey-background: rgba(255, 255, 255, 0.036);
  --accent-dark-blue-background: rgb(25, 25, 38);
  --grey-text: rgb(138, 138, 138);
  --white-text: rgb(223, 223, 223);
  --base-background: #191624;
  --yellow-background: rgb(242, 194, 4);
}
html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: var(--base-background);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.MuiOutlinedInput-root {
  background-color: white;
}